<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Send SMS</title>
</head>

<body>
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-6">
                <h1>BurstSMS Test</h1>
                <p>Send an SMS quickly!</p>
            </div>
            <div class="col-12 col-sm">
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div id="alert"></div>
    <form class="form" method="post" action="/sendSMS" id="sendSMSForm">
        <div class="form-group row">
            <label for="mobile" class="col-md-2">Mobile</label>
            <div class="col-md-10">
                <input type="tel" name="mobile" placeholder="Mobile Number" class="form-control" id="mobile">
            </div>
        </div>
        <div class="form-group row">
            <label for="message" class="col-md-2">Message</label>
            <div class="col-md-10">
                <textarea name="message" placeholder="Message" class="form-control" id="message" maxlength="{{.maxLength}}"></textarea>
            </div>
            <div class="col-md-12 text-right">
                <div class="badge badge-primary"><span id="char-count">0</span> / 480</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-10 offset-md-2">
                <button type="submit" class="btn btn-primary" id="button">Send SMS</button>
            </div>
        </div>
    </form>
</div>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>